---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <ul>
        <li>Add i18n</li>
        <li>Add page transitions (maybe use blur)</li>
        <li>create blog content</li>
        <li>consider resizing social icons</li>
        <li>replace font</li>
        <li>make greyscale lighter</li>
        <li>check responsiveness</li>
      </ul>
    </main>
    <Footer />
  </body>
</html>
