---
import { boolean } from 'astro:schema';

type Props = {
  isHeader: boolean;
};

const { isHeader } = Astro.props;

console.log({ isHeader });
---

<div class:list={['social-links', { header: isHeader }]}>
  <a href='https://m.webtoo.ls/@astro' target='_blank'>
    <span class='sr-only'>Follow Micah on LinkedIn</span>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 32 32'
      width='32px'
      height='32px'
    >
      <path
        d='M3.556,32 L28.444,32 C30.395,32 32,30.395 32,28.444 L32,3.556 C32,1.605 30.395,0 28.444,0 L3.556,0 C1.605,0 0,1.605 0,3.556 L0,28.444 C0,30.395 1.605,32 3.556,32 Z'
        fill='currentColor'></path>
      <path
        d='M27.556,27.556 L22.814,27.556 L22.814,19.478 C22.814,17.223 21.973,16.001 20.222,16.001 C18.333,16.001 17.333,17.299 17.333,19.478 L17.333,27.556 L12.717,27.556 L12.717,12.133 L17.333,12.133 L17.333,14.223 C17.333,14.223 18.69,11.674 21.951,11.674 C25.212,11.674 27.556,13.708 27.556,17.799 L27.556,27.556 Z M7.271,10.13 C5.706,10.13 4.444,8.871 4.444,7.287 C4.444,5.703 5.706,4.444 7.271,4.444 C8.836,4.444 10.097,5.703 10.097,7.287 C10.097,8.871 8.836,10.13 7.271,10.13 Z M4.899,27.556 L9.675,27.556 L9.675,12.133 L4.899,12.133 L4.899,27.556 Z'
        fill='#FFF'></path>
    </svg>
  </a>
  <a href='https://twitter.com/MicahFukazawa' target='_blank'>
    <span class='sr-only'>Follow Micah on Twitter</span>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      xmlns:xlink='http://www.w3.org/1999/xlink'
      width='32px'
      height='32px'
      viewBox='0 0 32 32'
      version='1.1'
      astro-icon='social/x'
    >
      <g id='surface1'>
        <path
          fill='currentColor'
          d='M 19.042969 13.542969 L 30.957031 0 L 28.132812 0 L 17.789062 11.757812 L 9.527344 0 L 0 0 L 12.492188 17.78125 L 0 31.984375 L 2.824219 31.984375 L 13.746094 19.566406 L 22.472656 31.984375 L 32 31.984375 Z M 15.175781 17.9375 L 13.910156 16.167969 L 3.839844 2.078125 L 8.175781 2.078125 L 16.304688 13.449219 L 17.570312 15.21875 L 28.136719 30 L 23.800781 30 Z M 15.175781 17.9375 '
        ></path>
      </g>
    </svg>
  </a>
  <a href='https://bsky.app/profile/fuka.dev' target='_blank'>
    <span class='sr-only'>Follow Micah on BlueSky</span>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      viewBox='0 0 32 28.26667'
      width='32px'
      height='32px'
    >
      <path
        d='m7.233 2.348c3.546 2.662 7.356 8.054 8.745 10.973 1.39-2.92 5.2-8.31 8.745-10.973 2.552-1.917 6.695-3.405 6.695 1.323 0 0.946-0.542 7.927-0.859 9.064-1.103 3.943-5.122 4.946-8.698 4.371 6.244 1.063 7.833 4.583 4.4 8.107-6.518 6.692-9.366-1.68-10.093-3.827-0.134-0.393-0.197-0.577-0.198-0.421-0.001 0.157-0.064 0.232-0.198 0.421-0.727 2.147-3.575 10.52-10.093 3.827-3.433-3.524-1.844-7.044 4.4-8.107-3.576 0.575-7.595-0.428-8.698-4.371-0.316-1.137-0.859-8.118-0.859-9.064 0-4.728 4.144-3.24 6.695-1.323z'
        fill='currentColor'></path>
    </svg>
  </a>
  <a href='https://github.com/MFukazawa' target='_blank'>
    <span class='sr-only'>Go to Micah's GitHub repo</span>
    <svg
      viewBox='0 0 16 16'
      aria-hidden='true'
      width='32'
      height='32'
      astro-icon='social/github'
      ><path
        fill='currentColor'
        d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z'
      ></path></svg
    >
  </a>
</div>

<style>
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  .social-links a {
    display: inline-flex;
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }

  @media (max-width: 720px) {
    .social-links.header {
      display: none;
    }
  }
</style>
