---
import { ViewTransitions } from 'astro:transitions';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

// type Props = CollectionEntry<'blog'>['data'];
type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;

const anim = {
  old: {
    name: 'blur-out',
    duration: '.4s',
    easing: 'ease-in',
  },
  new: {
    name: 'blur-in',
    duration: '.4s',
    easing: 'ease-out',
  },
};

const customTransition = {
  forwards: anim,
  backwards: anim,
};
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }

      .contents {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
      }
    </style>
  </head>

  <body transition:animate={customTransition}>
    <Header />
    <main>
      <div class='contents'>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @keyframes blur-in {
    0% {
      transform: translateY(10px) scale(0.98);
      filter: brightness(0.8) blur(3px);
      box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    }
    50% {
      transform: translateY(3px) scale(1.02);
      filter: brightness(1.1) blur(1px);
      box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
    }
    100% {
      transform: translateY(0) scale(1);
      filter: brightness(1) blur(0);
      box-shadow: none;
    }
  }

  @keyframes blur-out {
    0% {
      transform: translateY(0) scale(1);
      filter: brightness(1) blur(0);
      box-shadow: none;
    }
    50% {
      transform: translateY(-3px) scale(0.98);
      filter: brightness(0.9) blur(1px);
      box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    }
    100% {
      transform: translateY(-10px) scale(0.96);
      filter: brightness(0.7) blur(3px);
      box-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
    }
  }
</style>
