---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

// type Props = CollectionEntry<'blog'>['data'];
type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<html lang='en'>
  <head>
    <BaseHead title={title} description={description} />
    <style>
      main {
        width: calc(100% - 2em);
        max-width: 100%;
        margin: 0;
      }

      .contents {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        padding: 1em;
      }
    </style>
  </head>

  <body>
    <Header />
    <main>
      <div class='contents'>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
